@import url('https://fonts.googleapis.com/css?family=Lato');
* {margin: 0; padding: 0; border: none; position: relative;
}
*, *::before, *::after {box-sizing: inherit;}
html {
  background-image: url(/images/hexagonbg.png);
  background-size: cover;
  background-position: 0 30%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: scroll;
}

h1 {
  margin: 3em auto 1em;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: rgba(213,213,213,1);
  z-index: 10000;
}

ul {
  text-align: center;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(231,231,231,1);
  text-align: center;
}

button {
  margin: 10px auto;
  height: 30px;
  width: 100px;
  border: 2px solid black;
  background: rgba(1,1,1,0);
  transition-duration: 0.4s;
}

button:hover {
  color: white;
  background-color: black;
}

button:focus {
  outline:0;
}

.home_button {
  align-self: flex-start;
  padding-left: 4em;
  margin-left: 1em;
}

.namelogo {
  height: 45px;
}

.icons {
  text-decoration: none;
  font-size: 26px;
  color: black;
  margin: 0 2em 0 0;
  padding-right: 1em;
}

.icons:hover {
  opacity: 0.6;
}

.contact_icons {
  display: flex;
  align-self: flex-start;
  margin: 10px 0;
}

.hexagon {
  width: 250px;
  height: 350px;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  display: inline-block;
  list-style-type: none;
}

.hexagon-in1 {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  text-decoration: none;
}

.hexagon-in2 {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: rgba(0,0,0,1);
  text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff;
  transform: rotate(-60deg);
  transition: 1.5s ease-out;
}

#welcome {
  background-image: url(/images/hive.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#resume {
  background-image: url(/images/resumesnip.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#about {
  background-image: url(/images/eric_hk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#projects {
  background-image: url(/images/project1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#project1 {
  background-image: url(/images/project1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#project2 {
  background-image: url(/images/project2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#project3 {
  background-image: url(/images/project3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#projectha {
  background-image: url(/images/projectha.png);
  background-size: cover;
  background-repeat: no-repeat;
}

li:nth-child(1) span {
  background-position: -300px center;
  }
li:nth-child(2) span {
  background-position: 0px center;
  }
li:nth-child(3) span {
  background-position: -300px center;
  }
li:nth-child(4) span {
    background-position: -300px center;
  }

.hexagon-in2:hover {
  background-position: -100px center;
}

.app_body {
  margin-top: 10em;
  overflow: hidden;
}

#projects_body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5em 13em;
  display: flex;
  flex-wrap: wrap;
}

.projects_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 3px;
  width: 250px;
  height: 630px;
}

.projects_text {
  width: 200;
}

.about_text{
  border-top: 2px solid black;
  background: rgba(1,1,1,0);
  color: black;
  width: 200px;
  height: auto;
  margin: 20px auto;
  padding: 7px;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  transition: all linear 0.5s;
}

.about_box {
  font-family: 'Lato', sans-serif;
  overflow: scroll;
  height: 500px;
  width: 650px;
  margin: auto;
  line-height: 30px;
}

#about_picture1 {
  background-image: url(/images/eric_dr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#about_picture2 {
  background-image: url(/images/eric_hk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#about_picture3 {
  background-image: url(/images/eric_hp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#resume_body {
  display: flex;
  flex-direction: column;
}

#pdf {
  margin-top: 5em;
  align-self: center;
}

.resume_link {
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
}

.hex_title {
  height: 100%;
  padding-top: 60%;
  background-color: rgba(20,20,20,.4);
}

.hex_title:hover {
  background-color: rgba(0,0,0,0);
  transition: 1.5s ease-out;
}

.typewriter {
  font-family: 'Lato', sans-serif;
  margin: auto;
  text-align: center;
  width: 530px;
}
.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid rgb(144,25,29);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation:
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0,0,0); }
}

.nametag{
  color: rgba(200,200,200,1);
}
