<div id="projects_body">


<div class="projects_box">
  <ul>
    <li class="hexagon">
      <a class="hexagon-in1" href="https://goo.gl/NtvxSK">
        <span class="hexagon-in2" id="projectha">
          <div class="hex_title">French Connection</div>
        </span>
      </a>
    </li>
  </ul>
    <button ng-click="show_textha = !show_textha">About</button>
      <div ng-show="show_textha" class="about_text">
        <article>
          Competed in the French Embassy's Education Hackathon and won. Worked in a team of four to develop a pitch for a job recruitment app that utilizes a twitterbot built with NodeJS to attract users to our app. The pitch for the app was built with Wireframes.
        </article>
      <a id="code_p4" href=""><button>See the Code</button></a>

      </div>
</div>

<div class="projects_box">
  <ul>
    <li class="hexagon">
      <a class="hexagon-in1" href="https://cabralsylvester.github.io/Project3_FarMart/">
        <span class="hexagon-in2" id="project3">
          <div class="hex_title">FarMart</div>
        </span>
      </a>
    </li>
  </ul>
    <button ng-click="show_text3 = !show_text3">About</button>
      <div ng-show="show_text3" class="about_text">
        <article>
          Collaborated in a team of four to develop a farmers market post board app that uses Rails for an API back end and AngularJS for a front end.
        </article>
      <a id="code_p3" href="https://github.com/cabralsylvester/Project3_FarMart"><button>See the Code</button></a>

      </div>
</div>

<div class="projects_box">
  <ul>
    <li class="hexagon">
      <a class="hexagon-in1 hexagon" href="https://wdi-safe-travels.herokuapp.com/">
        <span class="hexagon-in2" id="project2">
          <div class="hex_title">Safe Travels</div>
        </span>
      </a>
    </li>
  </ul>
    <button ng-click="show_text2 = !show_text2">About</button>
      <div ng-show="show_text2" class="about_text">
        <article>
          An independent project in which I developed an app to help travelers consider the importance of safety as a big part of their trip planning. This app was built with Ruby on Rails.
        </article>
        <a id="code_p2" href="https://github.com/ericcgreen/project2"><button>See the Code</button></a>

      </div>
</div>

<div class="projects_box">
  <ul>
    <li class="hexagon">
      <a class="hexagon-in1" href="https://ericcgreen.github.io/eric_green_project1/">
        <span class="hexagon-in2" id="project1">
          <div class="hex_title">Towers of Hanoi</div>
        </span>
      </a>
    </li>
  </ul>
    <button ng-click="show_text1 = !show_text1">About</button>
        <div ng-show="show_text1" class="about_text">
          <article>
            An independent project in which I developed a puzzle game app with a Pokemon theme. This app was built using HTML, CSS, and Javascript.
          </article>
        <a id="code_p1" href="https://github.com/ericcgreen/eric_green_project1"><button>See the Code</button></a>
      </div>
  </div>
</div>
