@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::selection {
  background: #add3d0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #add3d0; /* Gecko Browsers */
}

.hero-background {
  background-color: #153250;
  background-image: url(./assets/eric_headshot_1.JPG);
}
